# Data Science Tools and Ecosystem

In this Jupyter Notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. C++
3. R
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numphy
2. Pandas
3. Pytorch
4. Tensorflow
5. Apachee Spark
6. Keras
7. Scipy
8. Ggplot

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Anaconda|
|R Studio|
|SAS|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

_Objectives:_
1. Creating Markdown cell
2. Listing popular languages for Data Science
3. Listing popular Data Science Libraries                            
4. To Provide comments in  cell
5. Adding Different Heading styles in markdown cells.

## Author
Nayan Raj Pokharel